.sky-swiper {
	.sky-crop {
		width: 100%;
		height: 100%;
	}
}

.sky-swiper-frame {
	position: relative;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	white-space: nowrap;
}

.sky-swiper-item {
	display: inline-block;
	width: 100%;
	height: 100%;
	margin: 0;
}

.sky-swiper-slides {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	height: 480px;
	margin: 0;
	padding: 0;
}

.sky-swiper-prev,
.sky-swiper-next {
	margin: 0;
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	cursor: pointer;
	text-align: inherit;
	display: inline-block;
	vertical-align: baseline;
	background-color: transparent;

	svg {
		display: block;
	}
}
