$SmoothOut	: cubic-bezier(0.500, 0.035, 0.190, 1.000);

.sky-swiper {
	position: relative;
	user-select: none;
}

.sky-swiper__content {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.sky-swiper__animation {
	&-enter-active,
	&-leave-active {
		transition: transform 0.5s $SmoothOut;

		.sky-swiper__item-inner {
			transition: transform 0.5s $SmoothOut;
		}
	}

	&-leave-active {
		position: absolute;
		top: 0;
		left: 0;
	}

	&-enter,
	.backwards &-leave-to {
		transform: translateX(100%);

		.sky-swiper__item-inner {
			transform: translateX(-95%);
		}
	}

	&-leave-to,
	.backwards &-enter {
		transform: translateX(-100%);

		.sky-swiper__item-inner {
			transform: translateX(95%);
		}
	}
}

.sky-swiper__item {
	position: relative;
	transition: transform 0.2s;
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: 3;

	&.previous {
		position: absolute;
		top: 0;
		right: 100%;
		width: 100%;
		height: 100%;
		z-index: 2;
	}

	&.next {
		position: absolute;
		top: 0;
		left: 100%;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
}

.sky-swiper__item-inner {
	width: 100%;
	height: 100%;
	transition: transform 0.2s;
}

.sky-swiper__control {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 15%;
	margin: 0;
	padding: 0;
	border: none;
	z-index: 5;
	background-color: transparent;
	color: #fff;
	transform: translateX(0%);
	transition: all 0.3s;

	&--next {
		right: 0;
	}

	&--previous {
		left: 0;
	}
}

.sky-swiper__control-icon {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 50px;
}
