<div class="sky-swiper-navigation">
	<button
		v-if="$parent.config.navigation.previous"
		@click="$parent.goToPrevious()"
		class="sky-swiper-navigation-btn previous"
	>
		<span class="sky-swiper-navigation-btn-icon">
			<slot
				name="previous"
			>
				<
			</slot>
		</span>
	</button>
	<ul
		v-if="$parent.config.navigation.indicator === 'bullets'"
		class="sky-swiper-bullets"
	>
		<li v-for="(item, index) in $parent.items">
			<button
				@click="$parent.goTo(index)"
				:class="{
					active: index === $parent.currentIndex,
				}"
			>
				<slot
					name="bullet"
					:index="index"
					:active="index === $parent.currentIndex"
				/>
			</button>
		</li>
	</ul>
	<div
		v-if="$parent.config.navigation.indicator === 'pagination'"
		class="sky-swiper-pagination"
	>
		{{$parent.currentIndex + 1}} / {{$parent.items.length}}
	</div>
	<button
		v-if="$parent.config.navigation.next"
		@click="$parent.goToNext()"
		class="sky-swiper-navigation-btn next"
	>
		<span class="sky-swiper-navigation-btn-icon">
			<slot
				name="next"
			>
				>
			</slot>
		</span>
	</button>
</div>